{% extends "base.html" %}

{% block title %}Currencies{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>updated_at</th>
            <th>exchange</th>
            <th>currency</th>
            <th>currency_name</th>
            <th>full_name</th>
            <th>is_margin_enabled</th>
            <th>is_debit_enabled</th>
        </tr>
    </thead>
    <tbody>
        {% for (index, currency) in currencies %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ currency.updated_at }}</td>
            <td>{{ currency.exchange }}</td>
            <td>{{ currency.currency }}</td>
            <td>{{ currency.currency_name }}</td>
            <td>{{ currency.full_name }}</td>
            <td>{{ currency.is_margin_enabled }}</td>
            <td>{{ currency.is_debit_enabled }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}